@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<body>
   
    <!-- Close Banner -->
    <!-- Start Section -->
    <style>
        .times-font {
            font-family: 'Times New Roman', Times, serif;
        }
    </style>

    <div class="theme-features">
        <div class="container">
            @*<h3>@Terlik_yeni.Resources.HomeTexts.AboutHeader</h3>*@
           <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="feature-item pe-7s-expand1">
                        <img style=" width: 77px; height: 77px; " src="~/img/minicons/1.png" />
                        <div class="ml-4">
                            <h4 class="times-font font-weight-bold text-left">@Terlik_yeni.Resources.HomeTexts.AboutHizmet </h4>
                            <p>@Terlik_yeni.Resources.HomeTexts.AboutHizmetAç </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-item pe-7s-global">
                        <img style=" width: 77px; height: 77px; " src="~/img/minicons/5.png" />
                        <div class="ml-4">
                            <h4 class="times-font font-weight-bold text-left">@Terlik_yeni.Resources.HomeTexts.AboutKadın</h4>
                            <p>@Terlik_yeni.Resources.HomeTexts.AboutKadınAç </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-item pe-7s-cart">
                        <img style=" width: 77px; height: 77px; " src="~/img/minicons/4.png" />
                        <div class="ml-4">
                            <h4 class="times-font font-weight-bold text-left">@Terlik_yeni.Resources.HomeTexts.AboutTasarım</h4>
                            <p>@Terlik_yeni.Resources.HomeTexts.AboutTasarımAç </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-item pe-7s-global">
                        <img style=" width: 77px; height: 77px; " src="~/img/minicons/2.png" />
                        <div class="ml-4">
                            <h4>@Terlik_yeni.Resources.HomeTexts.AboutTech</h4>
                            <p>@Terlik_yeni.Resources.HomeTexts.AboutTechAç </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-item pe-7s-global">
                        <img style=" width: 77px; height: 77px; " src="~/img/minicons/3.png" />
                        <div class="ml-4">
                            <h4 class="times-font font-weight-bold text-left">@Terlik_yeni.Resources.HomeTexts.AboutMüşeteri</h4>
                            <p>@Terlik_yeni.Resources.HomeTexts.AboutMüşetrtiAç </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-item pe-7s-global">
                        <i class="fas fa-clock fa-3x mb-2 text-success float-left"></i>
                        <div class="ml-4">
                            <h4 class="times-font font-weight-bold text-left">@Terlik_yeni.Resources.HomeTexts.AboutSaat</h4>
                            <p>@Terlik_yeni.Resources.HomeTexts.AboutSaatAç </p>
                        </div>
                    </div>
                </div>
                <!-- Add the rest of the content in a similar way -->
            </div>
        </div>
    </div>





   
</body>